@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
}

body {
  font-family: Montserrat, sans-serif;
  display: flex;
  flex-direction: column;
  background: black;
  color: black;
}

body:has(.tab-control.show) main {
  top: 50px;
}

header {
  padding: 16px 10px;
}
@media screen and (min-width: 992px) {
  header {
    padding: 18px 20px;
  }
}
header .tab-control {
  position: fixed;
  z-index: 10000;
  order: 1;
  left: 15px;
  right: 15px;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
  transition-property: visibility, transform, opacity;
  top: 55px;
}
@media screen and (min-width: 992px) {
  header .tab-control {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0%);
  }
}
header .tab-control.show {
  transform: translateY(10px);
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
@media screen and (min-width: 992px) {
  header .tab-control {
    order: initial;
    display: block;
    position: relative;
    top: initial;
    left: initial;
    right: initial;
    bottom: initial;
  }
}
header .tab-control .tabs {
  background: #ffdfe9;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  padding: 6px;
  position: relative;
  box-shadow: 0 0 6px #f7a5be;
}
header .tab-control .tabs button {
  padding: 6px 10px;
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 25px;
  font-weight: bold;
  transform-origin: center;
  transition: 0.4s ease;
  transition-property: min-width, opacity, color;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 992px) {
  header .tab-control .tabs button {
    width: 160px;
  }
}
header .tab-control .tabs button span {
  color: black;
  position: relative;
  z-index: 1;
}
header .tab-control .tabs button.selected span {
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
}
header .tab-control .tabs .menu-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  padding: 10px;
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  header .tab-control .tabs .menu-close {
    display: none;
  }
}
header .tab-control .tabs .overlay {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 25px;
  left: 0;
  z-index: 1;
  border: 1px solid;
  border-color: #f7a5be #f0eef8 #f7a5be #f0eef8;
  height: calc(100% - 10px);
  transition: left 0.4s ease;
  z-index: 1;
  animation: filterRotate 4s ease-in-out infinite alternate;
}
header .tab-control .tabs .overlay span {
  position: absolute;
  background: rgba(0, 0, 0, 0.9215686275);
  border-radius: 25px;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
header .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
header .logo,
header .header-form {
  flex-basis: 150px;
}
@media screen and (min-width: 992px) {
  header .logo,
  header .header-form {
    flex-basis: 200px;
  }
}
header .logo {
  flex: 1;
  flex-basis: initial;
  order: 2;
}
@media screen and (min-width: 992px) {
  header .logo {
    flex: initial;
    order: initial;
    flex-basis: 200px;
  }
}
header .logo a {
  font-size: 0;
  display: flex;
  justify-content: center;
}
header .logo img {
  max-width: 200px;
  height: auto;
}
header .header-form {
  order: 3;
  flex-basis: 100px;
}
@media screen and (min-width: 992px) {
  header .header-form {
    order: initial;
    flex-basis: 200px;
  }
}
header .header-form .form-search {
  position: relative;
  display: flex;
  border-radius: 25px;
  box-shadow: 0 0 6px #f7a5be;
}
header .header-form .form-search input {
  padding: 8px 10px;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  flex: 1;
  font-weight: bold;
  color: #f7a5be;
  background: transparent;
}
header .header-form .form-search input::placeholder {
  color: #ffdfe9;
}
@media screen and (min-width: 992px) {
  header .header-form .form-search input {
    padding: 12px 40px 12px 20px;
  }
}
header .header-form .form-search button {
  cursor: pointer;
  border: none;
  background: none;
  color: #f7a5be;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6px;
  padding: 10px;
  display: none;
}
@media screen and (min-width: 992px) {
  header .header-form .form-search button {
    display: initial;
  }
}
header .header-form .form-search button i {
  font-weight: bold;
}
header .menu-open {
  border: none;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
  flex-basis: 80px;
  font-size: 28px;
  cursor: pointer;
  padding-right: 20px;
}
@media screen and (min-width: 992px) {
  header .menu-open {
    display: none;
  }
}

.player-dashboard {
  padding: 12px 1vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  max-height: 100px;
  position: relative;
  z-index: 9999;
  background: #000000;
}
.player-dashboard .toolbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  z-index: 1;
}
@media screen and (min-width: 992px) {
  .player-dashboard .toolbar {
    z-index: 10001;
  }
}
.player-dashboard .toolbar .left,
.player-dashboard .toolbar .right {
  z-index: 9999;
}
@media screen and (min-width: 1024px) {
  .player-dashboard .toolbar .left,
  .player-dashboard .toolbar .right {
    flex-basis: 25%;
  }
}
.player-dashboard .toolbar .left {
  position: absolute;
  top: -105px;
  left: -1vw;
  width: 70%;
  padding-top: 10px;
  padding-left: 15px;
  background: black;
}
@media screen and (min-width: 992px) {
  .player-dashboard .toolbar .left {
    position: initial;
    bottom: initial;
    z-index: initial;
    left: initial;
    padding: initial;
    background: initial;
  }
}
.player-dashboard .toolbar .left .info-current {
  display: flex;
  gap: 10px;
}
.player-dashboard .toolbar .left .title {
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
  font-size: 14px;
}
.player-dashboard .toolbar .left .author {
  color: #f0eef8;
  font-size: 12px;
}
.player-dashboard .toolbar .left img {
  height: 42px;
  width: 42px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 2px #f7a5be;
}
.player-dashboard .toolbar .right {
  position: absolute;
  bottom: 95px;
  gap: 6px;
  background: black;
  padding-top: 10px;
  padding-right: 15px;
  right: -1vw;
  width: 35%;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
@media screen and (min-width: 992px) {
  .player-dashboard .toolbar .right {
    position: initial;
    width: initial;
    bottom: initial;
    padding-top: initial;
    padding-right: initial;
  }
}
@media screen and (min-width: 992px) {
  .player-dashboard .toolbar .right {
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .player-dashboard .toolbar .right i {
    font-size: 24px;
  }
}
.player-dashboard .toolbar .right .lyric,
.player-dashboard .toolbar .right .karaoke {
  display: flex;
  position: relative;
  align-items: center;
  width: 30px;
  height: 30px;
  justify-content: center;
}
.player-dashboard .toolbar .right .lyric button,
.player-dashboard .toolbar .right .karaoke button {
  background: none;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.player-dashboard .toolbar .right .volume {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.player-dashboard .toolbar .right .volume .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
}
.player-dashboard .toolbar .right .volume .volume-background {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  background: #000000;
  border-radius: 5px;
  height: 100px;
  padding: 10px;
  width: 50px;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: 0.3s ease-out;
  transition-property: opacity, visibility;
}
.player-dashboard .toolbar .right .volume .volume-background::before {
  content: "";
  top: -30px;
  width: 100%;
  height: 30px;
  left: 0;
  position: absolute;
  background: transparent;
}
.player-dashboard .toolbar .right .volume .volume-background::after {
  content: "";
  bottom: -24px;
  width: 100%;
  height: 30px;
  left: 0;
  position: absolute;
  background: transparent;
}
.player-dashboard .toolbar .right .volume .volume-background.show, .player-dashboard .toolbar .right .volume .volume-background:focus, .player-dashboard .toolbar .right .volume .volume-background:active, .player-dashboard .toolbar .right .volume .volume-background:hover {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.player-dashboard .toolbar .right .volume .volume-background .volume-process {
  position: absolute;
  top: 10px;
  height: calc(100% - 20px);
  width: 5px;
  background: #fce9ef;
  left: 50%;
  border-radius: 10px;
  transform: translateX(-50%);
  cursor: pointer;
}
.player-dashboard .toolbar .right .volume .volume-background .volume-process .process-main {
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 100%;
  border-radius: 10px;
  background: #f7a5be;
}
.player-dashboard .toolbar .right .volume .volume-background .volume-process .process-main .process-icon {
  position: absolute;
  top: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: radial-gradient(#f7a5be, #000000);
  box-shadow: 2px 0 10px #000000;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.player-dashboard .toolbar .right .volume .volume-background .volume-process .process-main .process-percent {
  position: absolute;
  right: 36px;
  font-size: 14px;
  font-weight: bold;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
  padding: 5px 2px;
  border-radius: 5px;
  font-weight: bold;
  user-select: none;
  pointer-events: none;
  top: -10px;
}
.player-dashboard .toolbar .right .volume:hover .volume-background {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.player-dashboard .toolbar .middle {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .player-dashboard .toolbar .middle {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 320px) {
  .player-dashboard .toolbar .middle {
    gap: 20px;
  }
}
.player-dashboard .toolbar .middle button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  cursor: pointer;
  transition: transform 0.3s ease-out;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
}
@media screen and (min-width: 400px) {
  .player-dashboard .toolbar .middle button {
    font-size: 24px;
  }
}
.player-dashboard .toolbar .middle button:active {
  transform: scale(1.3);
}
.player-dashboard .toolbar .middle button.big {
  margin: 0 20px;
  font-size: 36px;
}
.player-dashboard .player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.player-dashboard .player .time-start,
.player-dashboard .player .time-end {
  user-select: none;
  pointer-events: none;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .player-dashboard .player .time-start,
  .player-dashboard .player .time-end {
    font-size: 18px;
  }
}
.player-dashboard .player .process-inner {
  position: relative;
  width: calc(100% - 16px);
  height: 100%;
  z-index: 20000;
}
.player-dashboard .player .process {
  height: 8px;
  display: block;
  background: #fce9ef;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 10000;
}
.player-dashboard .player .process-main {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0%;
  background: #f7a5be;
  height: 8px;
}
.player-dashboard .player .process-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  background: radial-gradient(#f7a5be, #000000);
  box-shadow: 2px 0 10px #000000;
  border-radius: 5px;
  top: 50%;
  right: 0;
  transform: translateX(100%) translateY(-50%);
}
.player-dashboard .player .process-timer {
  position: absolute;
  bottom: 20px;
  left: 0px;
  transform: translateX(-50%);
  font-size: 12px;
  color: #000000;
  font-weight: bold;
  background: #f7a5be;
  padding: 4px 8px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: visible;
  pointer-events: none;
  user-select: none;
  transition: 0.3s ease-out;
  transition-property: visibility, opacity;
  z-index: 999999;
}
.player-dashboard .player .process-timer.show {
  opacity: 1;
  visibility: visible;
}

main {
  position: relative;
  overflow: hidden;
}

.player-screen {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.player-screen .screen-left {
  position: relative;
}
.player-screen .screen-left .search-container,
.player-screen .screen-left .home-container {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100%;
  opacity: 0;
  transition-property: opacity, visibility, top;
  visibility: hidden;
  pointer-events: none;
  user-select: none;
  transition: 400ms ease-out;
}
.player-screen .screen-left .search-container.show,
.player-screen .screen-left .home-container.show {
  user-select: all;
  top: 0;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.player-screen .screen-left .heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  color: white;
  padding: 0 3vw;
  margin-bottom: 20px;
}
.player-screen .screen-left .heading h2 {
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.player-screen .screen-left .heading h2 i {
  font-size: 16px;
  margin-right: 5px;
}
.player-screen .screen-left .heading button {
  border: none;
  padding: 5px;
  background: none;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
  cursor: pointer;
}
.player-screen .screen-left .search,
.player-screen .screen-left .songs {
  position: absolute;
  width: 100%;
  padding-bottom: 10px;
  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 160px);
  justify-content: center;
  flex-wrap: wrap;
  grid-gap: 20px;
}
.player-screen .screen-left .search::-webkit-scrollbar,
.player-screen .screen-left .songs::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
.player-screen .screen-left .search::-webkit-scrollbar-button,
.player-screen .screen-left .songs::-webkit-scrollbar-button {
  background: transparent;
  height: 0;
  display: none;
}
.player-screen .screen-left .search::-webkit-scrollbar-thumb,
.player-screen .screen-left .songs::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, transparent, #f7a5be);
  border-radius: 10px;
}
.player-screen .screen-left .search::-webkit-scrollbar-track,
.player-screen .screen-left .songs::-webkit-scrollbar-track {
  background: transparent;
}
@media screen and (min-width: 992px) {
  .player-screen .screen-left .search,
  .player-screen .screen-left .songs {
    grid-template-columns: repeat(auto-fit, 210px);
  }
}
.player-screen .screen-left .search .song-item,
.player-screen .screen-left .songs .song-item {
  flex-basis: calc(25% - 20px);
  position: relative;
  font-size: 0;
  cursor: pointer;
  border-radius: 25px;
  transition: box-shadow 400ms ease-out;
}
.player-screen .screen-left .search .song-item:hover,
.player-screen .screen-left .songs .song-item:hover {
  box-shadow: 1px 1px 10px #f7a5be;
}
.player-screen .screen-left .search .song-item img,
.player-screen .screen-left .songs .song-item img {
  width: 100%;
  border-radius: 10px;
}
.player-screen .screen-left .search .song-item .info,
.player-screen .screen-left .songs .song-item .info {
  background: rgba(0, 0, 0, 0.5647058824);
  font-size: initial;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.player-screen .screen-left .search .song-item .info h3,
.player-screen .screen-left .songs .song-item .info h3 {
  font-size: 14px;
  height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
}
.player-screen .screen-left .search .song-item .info .author,
.player-screen .screen-left .songs .song-item .info .author {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #f0eef8;
  font-size: 12px;
}
.player-screen .screen-left:has(.home-container.show) .search {
  top: 100%;
}
.player-screen .screen-left:has(.songs.show) .search {
  top: 100%;
}
.player-screen .main {
  align-items: center;
  gap: 30px;
  padding: 20px 0;
}
.player-screen .screen-left,
.player-screen .main,
.player-screen .screen-right {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 100%;
  transition-property: top, opacity, visibility;
  transition-duration: 300ms;
}
.player-screen .screen-left.show,
.player-screen .main.show,
.player-screen .screen-right.show {
  opacity: 1;
  top: 0;
  visibility: visible;
  pointer-events: all;
}
.player-screen .screen-right {
  justify-content: flex-start;
}

.disc-overlay {
  display: flex;
  justify-content: center;
  padding: 4px;
}

.disc {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 30vh;
  height: 30vh;
  filter: drop-shadow(1px 1px 2px #f7a5be);
}
@media screen and (min-width: 1024px) {
  .disc {
    width: 50vh;
    height: 50vh;
  }
}
.disc::before {
  content: "";
  width: 5vh;
  height: 5vh;
  border: 2vh solid #000000;
  top: 50%;
  left: 50%;
  position: absolute;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .disc::before {
    border: 4vh solid #000000;
  }
}
.disc::after {
  content: "";
  border-style: solid;
  border-color: transparent;
  border-width: 15vh;
  position: absolute;
  border-image-source: var(--url-image);
  border-image-repeat: stretch;
  border-image-slice: 40%;
  border-image-width: 42%;
  border-image-outset: 0px;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
@media screen and (min-width: 1024px) {
  .disc::after {
    border-width: 25vh;
  }
}

.song-info {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}
.song-info h1 {
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
  line-height: 1;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
}
@media screen and (min-width: 320px) {
  .song-info h1 {
    font-size: 22px;
  }
}
@media screen and (min-width: 575px) {
  .song-info h1 {
    font-size: 32px;
  }
}

.screen-right {
  padding: 0 10px;
  background: linear-gradient(to bottom, #000000, transparent);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  overflow: hidden;
}
.screen-right h2 {
  font-size: 16px;
  color: white;
  font-weight: bold;
  background: linear-gradient(180deg, #f7a5be, #000000);
  text-transform: uppercase;
  padding: 10px 40px;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .screen-right h2 {
    font-size: 20px;
  }
}
.screen-right .playlist {
  position: relative;
  overflow: auto;
}
.screen-right .playlist::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}
.screen-right .playlist::-webkit-scrollbar-button {
  background: transparent;
  height: 0;
  display: none;
}
.screen-right .playlist::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, transparent, #f7a5be);
  border-radius: 10px;
}
.screen-right .playlist::-webkit-scrollbar-track {
  background: transparent;
}
.screen-right .song {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}
.screen-right .song.playing {
  background: linear-gradient(120deg, #f7a5be, #000000);
}
.screen-right .song.playing .info h3 {
  text-shadow: 0 0 0px #f0eef8;
}
.screen-right .song.playing .image .play-line {
  display: flex;
  z-index: 10;
}
.screen-right .song.playing .image .play-line span {
  background-image: linear-gradient(to top, #f0eef8, #f7a5be);
  z-index: 10;
}
.screen-right .song.playing .image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.screen-right .song .image {
  position: relative;
  font-size: 0;
  box-shadow: 0 0 10px #f7a5be;
}
.screen-right .song .image .play-line {
  display: none;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
}
.screen-right .song img {
  width: auto;
  height: 28px;
}
.screen-right .song .info h3 {
  font-size: 18px;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
}

.play-line {
  display: flex;
  gap: 2px;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
}
.play-line span {
  background: linear-gradient(to top, #f0eef8, #f7a5be);
  display: block;
  height: 0px;
  width: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  box-shadow: 0 -1px 3px #f7a5be;
}

.karaoke-screen {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  z-index: 9999;
  background: #f5c3d2;
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  transition: top 400ms;
}
@media screen and (min-width: 992px) {
  .karaoke-screen {
    padding: 30px;
    align-items: center;
  }
}
.karaoke-screen.show {
  top: 0;
}
.karaoke-screen .karaoke-action {
  position: absolute;
  top: 10px;
  left: 10px;
}
.karaoke-screen .karaoke-action button {
  width: 30px;
  height: 30px;
  font-size: 24px;
  border: none;
  background: linear-gradient(to bottom, #f7a5be, #f0eef8);
  -webkit-text-fill-color: transparent;
  background-clip: text;
  filter: drop-shadow(0 0 5px #f7a5be);
  filter: drop-shadow(0 0 1px #000000);
  cursor: pointer;
}
.karaoke-screen .karaoke-content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.karaoke-screen .karaoke-content .song-current {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.karaoke-screen .karaoke-content .song-current .name {
  font-size: 24px;
  font-weight: bold;
  color: black;
}
@media screen and (min-width: 992px) {
  .karaoke-screen .karaoke-content .song-current .name {
    font-size: 32px;
  }
}
.karaoke-screen .karaoke-content .song-current .author {
  margin-top: 10px;
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.karaoke-screen .karaoke-content .no-lyrics {
  font-size: 32px;
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  text-shadow: 1px 1px 3px #f0eef8, 1.2px 1.2px 3px #f0eef8, 1.3px 1.3px 3px #f0eef8, 1.4px 1.4px 3px #f0eef8, 1.5px 1.5px 3px #f0eef8;
  text-align: center;
  margin-top: 20px;
}
.karaoke-screen .karaoke-content .words {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.karaoke-screen .karaoke-content .words + .words {
  margin-top: 20px;
}
.karaoke-screen .karaoke-content .word {
  color: black;
  position: relative;
  font-size: 32px;
  font-weight: bold;
  text-shadow: 1px 1px 3px white, 1.2px 1.2px 3px white, 1.3px 1.3px 3px white, 1.4px 1.4px 3px white, 1.5px 1.5px 3px white;
}
@media screen and (min-width: 992px) {
  .karaoke-screen .karaoke-content .word {
    white-space: nowrap;
  }
}
.karaoke-screen .karaoke-content .word span {
  overflow: hidden;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 0%;
  color: #2026da;
  text-shadow: 1px 1px 3px white, 1.1px 1.1px 3px white, 1.2px 1.2px 3px white, 1.3px 1.3px 3px white, 1.4px 1.4px 3px white, 1.5px 1.5px 3px white;
}
.karaoke-screen .karaoke-content .word + .words {
  margin-left: auto;
  text-align: right;
}

[hidden] {
  visibility: hidden;
  pointer-events: none;
  display: none !important;
}

[data-title] {
  position: relative;
  height: 42px !important;
}
[data-title] .title-show {
  position: absolute;
  padding: 5px 10px;
  background: black;
  font-size: 16px;
  white-space: nowrap;
  color: white !important;
  top: -100%;
  -webkit-text-fill-color: initial;
  left: 50%;
  border-radius: 5px;
  transform: translateX(-50%);
  box-shadow: initial;
  filter: initial;
}

.active {
  position: relative;
  filter: drop-shadow(0 0 2px #f7a5be) !important;
  background: initial !important;
  background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
}
.active::before {
  content: ".";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  bottom: calc(100% - 2px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: #f7a5be;
  -webkit-text-fill-color: initial;
}
.active i {
  color: #f7a5be;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 992px) {
  footer {
    padding-top: 20px;
    position: initial;
    bottom: initial;
    left: initial;
  }
}

@keyframes filterRotate {
  0% {
    filter: hue-rotate(360deg);
  }
  50% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.loading {
  position: absolute;
  left: 50%;
  top: 30px;
  border-radius: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border: 5px solid #f7a5be;
  border-top-color: transparent;
  border-bottom-color: transparent;
  filter: drop-shadow(0 0 5px #f7a5be);
  animation: spin 1s infinite ease-out;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  transition-property: visibility, opacity;
}
.loading.show {
  opacity: 1;
  visibility: visible;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=player.css.map */
