* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.slider {
    overflow: hidden;
    position: relative;
}

.list-item {
    display: flex;
    width: 100%;
    white-space: nowrap;
}

.list-item img {
    max-width: 100%;
}

.list-item .item {
    user-select: none;
    pointer-events: none;
}

.dot {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.dot span {
    width: 20px;
    height: 10px;
    border-radius: 5px;
    background: #ebebeb50;
    border: 1px solid coral;
    cursor: pointer;
    transform-origin: center;
    transition: all 0.2s ease-in-out;
}

.dot span.active {
    box-shadow: 0 0 2px coral;
    background: coral;
    border-radius: 5px;
    width: 60px;
}

.action button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    padding: 20px;
    user-select:none
}

.action svg {
    width: 24px;
    fill: white;
    filter: drop-shadow(0 0 10px white);
}

.action button.prev {
    left: 10px;
}

.action button.next {
    right: 10px;
}